{% extends 'base.html' %}
{% block title %}{{user_details.first_name}}{% endblock title %}
{% block css %}{% endblock css %}
{% block body %}
  <h1>
    {% if user_details.id == request.user.id %}
      Profile
    {% else %}
      User Details
    {% endif %}
  </h1>
  <p><b>Name</b><br>{{user_details.first_name|capfirst}} {{user_details.last_name|capfirst}}</p>
  <p><b>Email</b><br>{{user_details.email}}</p>
  <p><b>Role</b><br>{{user_details.role}}</p>
  {% if user_details.id == request.user.id %}
    <a class="btn btn-primary" href="{% url 'profile_update' user_details.id %}">Update</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'user_update' user_details.id %}">Update</a>
  {% endif %}
  {% if user_details.id == request.user.id %}<a href="{% url 'password_change' %}">Change Password</a>{% endif %}
{% endblock body %}
{% block js %}{% endblock js %}

