{% extends 'base.html' %}
{% block css %}{% endblock css %}
{% block body %}
    <h1>Categories</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Category No</th>
                <th scope="col">Categories Name</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td scope="row">{{ category.name }}</td>
                    <td><a href={% url 'category_delete' category.id %}>Delete</a></td>

                    
                </tr>
            {% endfor %}
        </tbody>
    </table>  
    <a class="btn btn-primary" href="{% url 'category_create' %}">Add Category</a>   
{% endblock body %}