                <!DOCTYPE html>
                <html>
                <head>
                <title>

                </title>
                </head>
                <body>
                <h3>Dear {{ user.first_name }},</h3>
                <br>
                <h3>Details regarding your ticket is mentioned below : </h3>
                <br>
                <br>
                
                <h3>Ticket No. --> {{context.number}}</h3>
                <h3>Category --> {{context.category}}</h3>
                <h3>SubCategory --> {{context.subcategory}}</h3>
                <h3>Title --> {{context.title}}</h3>
                <h3>Problem Description --> {{context.problem_descp}}</h3>
                {% comment %} <h3>Created By --> {{context.created_by}}</h3> {% endcomment %}
                <h3>Created at --> {{context.get_created_at}}</h3>
                <h3>Updated at --> {{context.get_updated_at}}</h3>
                <h3>Status --> {{context.status}}</h3>

                
                </body>
                </html>
 