{% extends 'base.html' %}
{% block css %}{% endblock css %}
{% block body %}
    <h1>SubCategories</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for subcategory in subcategories %}
                <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td scope="row">{{ subcategory.name }}</td>
                    <td scope="row">{{ subcategory.category.name }}</td>
                    <td><a href={% url 'subcategory_delete' subcategory.id %}>Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>  
    <a class="btn btn-primary" href="{% url 'subcategory_create' %}">Add SubCategory</a>   
{% endblock body %}