{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block body %}
<h1>Ticket Create</h1>
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input type='submit' class="btn btn-primary" value="Submit">
</form>
{% comment %} {% if request.user.role == "Manager" %}
<script>
  window.onload = my_func();
  function my_func(){
    $("#id_priority").prop('disabled', true);
  }
</script>
{% endif %} {% endcomment %}
{% endblock body %}
{% block js %}
<script>
  window.onload = my_func();
  function my_func(){
    $("#id_subcategory").html("<option value selected>---------</option>");
  }
  $("#id_category").change(function () {
    var categoryId = $(this).val();

    $.ajax({
      url: "{% url 'ajax_load_subcategories' %}",
      data: {
        'category': categoryId
      },
      success: function (data) {
        $("#id_subcategory").html(data);
      },
      error:function (response, error){}
    });
  });
</script>
{% endblock js %}