{% extends 'base.html' %}
{% block title %}{{user_details.first_name}}{% endblock title %}
{% block css %}{% endblock css %}
{% block body %}
  <h1>Ticket Details</h1>
  <p><b>Start Date/Time</b><br> {{ ticket.start_date_time }}</p>
  <p><b>Group</b><br>{{ ticket.group }}</p>
  <p><b>Title</b><br>{{ ticket.group }}</p>
  <p><b>Description</b><br>{{ ticket.problem_descp }}</p>
  {% if request.user.role == "Admin" %}
  <p><b>Created By </b><br>{{ ticket.created_by }}</p>
  {% endif %}
  
  <p><b>Status</b><br>{{ ticket.status }}</p>
  {% if ticket.status != 'Pending' %}
  <p><b>Assigned To</b><br>{{ ticket.assigned_to.first_name }} {{ ticket.assigned_to.last_name }}</p>
  {% endif %}
  {% if request.user.role == "Admin" %}
    <a href={% url 'ticket_update' ticket.id %} class="btn btn-primary">Update</a>
  {% elif request.user.role == "Manager" and ticket.is_open %}
    <a href={% url 'ticket_completed' ticket.id %} class="btn btn-primary">Complete</a>
    <a href={% url 'ticket_cancelled' ticket.id %} class="btn btn-primary">Cancel</a>
  {% endif %}
{% endblock body %}
{% block js %}{% endblock js %}