{% extends 'base.html' %}
{% block title %}{{user_details.first_name}}{% endblock title %}
{% block css %}
<style>
  .whatsapp_float{
    position:fixed;
    bottom:40px;
    right:20px;
  }
</style>
{% endblock css %}
{% block body %}
  <h1>Ticket Details:</h1>
  <p><b>Created at</b><br> {{ ticket.created_at }}</p>
  <p><b>Category</b><br>{{ ticket.category }}</p>
  <p><b>Sub category</b><br>{{ ticket.subcategory }}</p>
  <p><b>Title</b><br>{{ ticket.title }}</p>
  <p><b>Description</b><br>{{ ticket.problem_descp }}</p>
  <p><b>Priority</b><br>{{ ticket.priority }}</p>
  <p><b>Status</b><br>{{ ticket.status }}</p>
  
  
  {% if request.user.role != "Viewer" %}
  <p><b>Created By</b><br>{{ ticket.created_by }}</p>
  {% endif %}
  
  {% if ticket.assigned_to %}
  <p><b>Assigned To</b><br>{{ ticket.assigned_to.first_name }} {{ ticket.assigned_to.last_name }}</p>
  {% endif %}
  
  <p><b>Updated at</b><br>{{ ticket.updated_at }}</p>

  {% comment %} do not delete this update button bec its for my testing purpose {% endcomment %}
  {% comment %} {% if request.user.role == "Admin"%}
    <a href={% url 'ticket_update' ticket.id %} class="btn btn-primary">update</a>
  {% endif %} {% endcomment %}

  {% if request.user.role == "Admin" and ticket.status == "Pending" %}
      <a href={% url 'ticket_approve' ticket.id %} class="btn btn-primary">Approve</a>
      <a href={% url 'ticket_reject' ticket.id %} class="btn btn-danger">Reject</a>
  {% endif %}

  {% if request.user.role == "Manager" and ticket.status == "Assigned" %}
    <a href={% url 'ticket_scoping' ticket.id %} class="btn btn-primary">Scoping</a>
  {% endif %}
  
  {% if request.user.role == "Manager" and ticket.status == "Scoping" %}
    <a href={% url 'ticket_inprogress' ticket.id %} class="btn btn-primary">In Progress</a>
  {% endif %}

  {% if request.user.role == "Manager" and ticket.status == "In Progress" %}
    <a href={% url 'ticket_completed' ticket.id %} class="btn btn-primary">Completed</a>
  {% endif %}
    
  <h3>Comment.. </h3>
  <br>
  <br>
  {% if  request.user.role == "Manager"%}
  <div class="whatsapp_float">
    <a href={{my_string}}>To chat with customer click here</a>
  </div>
  {% endif %}
  
{% endblock body %}
{% block js %}{% endblock js %}