{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block body %}
<h1>Ticket Create</h1>
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input type='submit' class="btn btn-primary" value="Submit">
</form>
<script>
  $(document).on('change', "#id_category", function () {
    var category = $(this).val();

    if (category) {
      $.ajax({
        type: 'post',
        url: '{% url "get_subcategory" %}',
        data: {
          csrfmiddlewaretoken:'{{csrf_token}}'
          'selected_category' : category ,
        },
        success: function(data){
          $("#id_subcategory").empty();
          $("#id_subcategory").append(data);
        },
        error:function (response, error){}
      });
    }
  });
</script>
{% endblock body %}