<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block css %}{% endblock css %}
</head>
<body>
  {% if request.user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if request.user.role == "Admin" %}
          <li class="nav-item"><a class="nav-link" href="{% url 'user_list' %}">Users</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tickets
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'ticket_list' %}">All</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Pending' %}">Pending</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Assigned' %}">Assigned</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'In Progress' %}">In Progress</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Completed' %}">Completed</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Cancelled' %}">Cancelled</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'category_list' %}">Categories</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'subcategory_list' %}">SubCategories</a></li>
        {% elif request.user.role == "Viewer" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Tickets
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'ticket_list' %}">All</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Pending' %}">Pending</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'In Progress' %}">In Progress</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Completed' %}">Completed</a>
            </div>
          </li>
        {%  elif  request.user.role == "Manager" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Assigned Tickets
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'ticket_list' %}">All</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Pending' %}">Pending</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Assigned' %}">Assigned</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'In Progress' %}">In Progress</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Completed' %}">Completed</a>
              <a class="dropdown-item" href="{% url 'ticket_list_status' 'Cancelled' %}">Cancelled</a>
            </div>
          </li>
        {% endif %}
      </ul>

    </div>
    <a class="nav-link" href="{% url 'profile' request.user.pk %}">Profile</a>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
  </nav>
  {% endif %}
  <div class='container'>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block body %}{% endblock body %}
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block js %}{% endblock js %}
</html>